.login-form-warn, .register-form-warn {
        color: red;
        font-size: 14px;
        margin: -20px 0px 10px 0px;
}

.update-form-warn {
        color: red;
        font-size: 14px;
        margin: 10px 0px 0px 0px;
}

insert-form-warn {
        color: red;
        font-size: 14px;
        margin: 10px 0px 0px 0px;
        position: absolute;
}